<div class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a href="" class="navbar-brand">Our Routes</a>
    <div class="navbar-collapse collapse" id="navbarResponsive">
      <ul class="nav navbar-nav">
        <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/user/list">User</a></li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
